<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pedrodev.appchat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoazul"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.ChatActivity"></activity>
        <activity
            android:name=".activities.filtersActivity"
            android:parentActivityName=".activities.HomeActivity" />
        <activity
            android:name=".activities.UserProfileActivity"
            android:parentActivityName=".activities.postDetailActivity" />
        <activity
            android:name=".activities.postDetailActivity"
            android:parentActivityName=".activities.HomeActivity" />
        <activity android:name=".activities.EditProfileActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.pedrodev.appchat"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activities.PostActivity" />
        <activity android:name=".activities.CompleteProfileActivity" />
        <activity android:name=".activities.HomeActivity" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.FirebaseMessagingClient"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>

</manifest>